<div class="header">
	<div class="nav-bar">
		<div class="logo-name">
			<div class="logo-image">
				<a href="/home">
					<img src="images/logo.png" alt="SportsVenue"/>
				</a>
			</div>
			<div class="logo-text">
				<a href="/home">
					<p>sports venue</p>
				</a>
			</div>
		</div>
		<div class="social-contact">
			<div class="sign-in">
				<a href="javascript:" data-toggle="modal" data-target="#signupModal">Sign In</a>
			</div>
			<div class="fb-link">
				<a href="https://www.facebook.com/mantralabs">
					<img src="images/fb-link-icon.png" alt="Fb Icon"/>
				</a>
			</div>
			<div class="tw-link">
				<a href="https://www.twitter.com">
					<img src="images/tw-link-icon.png" alt="Tw Icon"/>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="search-criteria">
	<div class="criteria-container">
		<div class="location-criteria" title="Click here to change">
			<p>Location: Bangalore</p>
			<select class="hide">
				<option>Bangalore</option>
				<option>Mumbai</option>
				<option>Pune</option>
				<option>NCR</option>
				<option>Chennai</option>
			</select>
		</div>
		<div class="sport-criteria" title="Click here to change">
			<p>Type: Football</p>
			<select class="hide">
				<option>Cricket</option>
				<option>Football</option>
				<option>Athletics</option>
			</select>
		</div>
		<div class="selected-date" title="Click here to change">
			<p>Date: 10 Mar 2015</p>
			<img src="images/calendar-icon.png" alt="calendar" title="Click here to change"/>
		</div>
	</div>
</div>
<div class="results-count">
	<div class="count-container">
		<div class="res-number">
			<p>N Results Found</p>
		</div>
		<div class="search-box">
			<input type="text" placeholder="Search"/>
		</div>
	</div>
</div>
<div class="results">
	<div class="individual-result">
		<div class="res-container">
			<div class="res-header">
				<a href="/ground_details">Ground Name here</a>
			</div>
			<div class="res-details">
				<div class="res-image">
					<a href="/ground_details"><img src="images/stadium-small.png" alt="ground-image"/></a>
				</div>
				<div class="res-desc-short">
					<h3>Description :</h3>
					<p>Ground Info here<span> Read More</span></p>
				</div>
				<div class="res-contact-details">
					<h3>Address :</h3>
					<p>Ashok Nagar, Xavier Layout, Bengaluru, Karnataka.</p>
					<p>Ground address here</p>
					<div class="contact-number">
						<h3>Contact :</h3><p> 9876543210</p>
					</div>
				</div>
			</div>
			<div class="res-footer">
				<div class="res-ground-details">
					<div class="avail">
						<h3>Availability : Checked</h3>
					</div>
					<div class="rating">
						<h3>Rating : </h3>
						<div class="rating-stars">
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-unmarked.png" alt="marked"/>
						</div>
					</div>
				</div>
				<div class="res-ground-options">
					<p><span>Reviews</span></p>|
					<p><span>Share</span></p>|
					<p><span>Map</span></p>
				</div>
			</div>
		</div>
	</div>
	<div id="googleMap" style="width:1375px;height:400px;border: 10px solid #f1f1f1;"></div>
	<div class="individual-result">
		<div class="res-container">
			<div class="res-header">
				<p>Bangalore Football Stadium</p>
			</div>
			<div class="res-details">
				<div class="res-image">
					<img src="images/stadium-small.png" alt="ground-image"/>
				</div>
				<div class="res-desc-short">
					<h3>Description :</h3>
					<p>The stadium will reportedly have a capacity between 25,000 to 45,000. <span>Read More</span></p>
				</div>
				<div class="res-contact-details">
					<h3>Address :</h3>
					<p>Ashok Nagar, Xavier Layout, Bengaluru, Karnataka.</p>
					<div class="contact-number">
						<h3>Contact :</h3><p> 9876543210</p>
					</div>
				</div>
			</div>
			<div class="res-footer">
				<div class="res-ground-details">
					<div class="avail">
						<h3>Availability : Checked</h3>
					</div>
					<div class="rating">
						<h3>Rating : </h3>
						<div class="rating-stars">
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-unmarked.png" alt="marked"/>
						</div>
					</div>
				</div>
				<div class="res-ground-options">
					<p><span>Reviews</span></p>|
					<p><span>Share</span></p>|
					<p><span>Map</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="individual-result">
		<div class="res-container">
			<div class="res-header">
				<p>Bangalore Football Stadium</p>
			</div>
			<div class="res-details">
				<div class="res-image">
					<img src="images/stadium-small.png" alt="ground-image"/>
				</div>
				<div class="res-desc-short">
					<h3>Description :</h3>
					<p>The stadium will reportedly have a capacity between 25,000 to 45,000. <span>Read More</span></p>
				</div>
				<div class="res-contact-details">
					<h3>Address :</h3>
					<p>Ashok Nagar, Xavier Layout, Bengaluru, Karnataka.</p>
					<div class="contact-number">
						<h3>Contact :</h3><p> 9876543210</p>
					</div>
				</div>
			</div>
			<div class="res-footer">
				<div class="res-ground-details">
					<div class="avail">
						<h3>Availability : Checked</h3>
					</div>
					<div class="rating">
						<h3>Rating : </h3>
						<div class="rating-stars">
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-marked.png" alt="marked"/>
							<img src="images/star-unmarked.png" alt="marked"/>
						</div>
					</div>
				</div>
				<div class="res-ground-options">
					<p><span>Reviews</span></p>|
					<p><span>Share</span></p>|
					<p><span>Map</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="footer-content">
		<div class="foot-text">
			&copy; 2014 All Rights Reserved.
		</div>
		<div class="footer-nav">
			<a href="http://www.mantralabsglobal.com">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://www.mantralabsglobal.com">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://www.mantralabsglobal.com/contactus">Contact Us</a>
		</div>
	</div>
</div>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content signup-popup">
	      	<div class="modal-header header">
	        	<img src="images/close-icon.png" data-dismiss="modal" aria-label="Close" alt="close"/>
	      	</div>
	      	<div class="modal-body content">
		      	<div class="emailid-input">
					<input type="text" placeholder="Email address:"/>
				</div>
				<div class="password-input">
					<input type="text" placeholder="Password:"/>
				</div>
				<div class="signup-button">
					Create Account
				</div>
				<p>Or, Sign in with</p>
				<div class="fb-button">
					Facebook
				</div>
		    </div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var grnd = <%-JSON.stringify(ground)%>;
console.log(grnd);
function initialize() {
	var mapCenter = new google.maps.LatLng(12.9715987,77.5945626);
  var mapProp = {
    center:mapCenter,
    zoom:12,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  
  var marker = new google.maps.Marker({
  	position:mapCenter,
  });
  marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>