<div class="header">
	<div class="nav-bar">
		<div class="logo-name">
			<div class="logo-image">
				<a href="/home">
					<img src="images/logo.png" alt="SportsVenue"/>
				</a>
			</div>
			<div class="logo-text">
				<a href="/home">
					<p>sports venue</p>
				</a>
			</div>
		</div>
		<div class="social-contact">
			<div class="sign-in">
				<a href="#" data-toggle="modal" data-target="#signupModal">Sign In</a>
			</div>
			<div class="fb-link">
				<a href="https://www.facebook.com/mantralabs">
					<img src="images/fb-link-icon.png" alt="Fb Icon"/>
				</a>
			</div>
			<div class="tw-link">
				<a href="https://www.twitter.com">
					<img src="images/tw-link-icon.png" alt="Tw Icon"/>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="search-section">
	<div class="search-bar">
		<div class="locations hide">
			<p class="select-heading">Where you want to be ?</p>
			<div class="selection-divs">
				<select class="location-select">
					<option selected="selected">Location</option>
					<option>Karnataka</option>
					<option>Delhi</option>
					<option>Kolkata</option>
					<option>Barcelona</option>
					<option>London</option>
				</select>
			</div>
		</div>
		<div class="sports hide">
			<p class="select-heading">Type of sport ?</p>
			<div class="selection-divs">
				<select class="sport-select">
					<option selected="selected">Sports</option>
					<option>Cricket</option>
					<option>Football</option>
					<option>Volleyball</option>
					<option>Swimming</option>
					<option>Tennis</option>
				</select>
			</div>
		</div>
		<div class="venue-search">
			<input type="text" class="text-search" placeholder="Search Sports Venue"/>
		</div>
		<div class="search-button">
			<p>Search</p>
		</div>
		<div class="adv-search" id="advancedSearch">
			<a href="javascript:">Advanced Search</a>
		</div>
		<div class="adv-search hide" id="normalSearch">
			<a href="javascript:">Back to Normal Search</a>
		</div>
	</div>
</div>
<div class="intro-section">
	<div class="heading">
		<p>Popular football grounds in Bangalore</p>
	</div>
	<div class="grnd-img">
		<img src="images/football-ground.png" alt="computer"/>
	</div>
</div>
<div class="user-speaks">
	<h2>What Our Users say</h2>
	<div class="users-bar bxslider">
		<div class="users">
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-1.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- Staciya Trollie</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-2.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- David Soul</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="users">
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-1.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- Staciya Trollie</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-2.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- David Soul</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="users">
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-1.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- Staciya Trollie</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
			<div class="user-one">
				<div class="user-image">
					<img src="images/user-2.png">
				</div>
				<div class="about-user arrow_box">
					<div class="user-desc">
						<div class="user-desc-header">
							<p class="user-name">- David Soul</p>
							<p class="user-type">User</p>
						</div>
						<div class="user-desc-text">
							Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="footer-content">
		<div class="foot-text">
			&copy; 2014 All Rights Reserved.
		</div>
		<div class="footer-nav">
			<a href="http://www.mantralabsglobal.com">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://www.mantralabsglobal.com">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://www.mantralabsglobal.com/contactus">Contact Us</a>
		</div>
	</div>
</div>
<div class="modal fade hide" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content signup-popup">
	      	<div class="modal-header header">
	       		<!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	        	<img src="images/close-icon.png" data-dismiss="modal" aria-label="Close" alt="close"/>
	        	<!-- <h4 class="modal-title">Modal title</h4> -->
	      	</div>
	      	<div class="modal-body content">
		      	<div class="emailid-input">
					<input type="text" placeholder="Email address:"/>
				</div>
				<div class="password-input">
					<input type="text" placeholder="Password:"/>
				</div>
				<div class="signup-button">
					Create Account
				</div>
				<p>Or, Sign in with</p>
				<div class="fb-button">
					Facebook
				</div>
	        	<!-- <p>One fine body&hellip;</p> -->
		    </div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div>