<div class="signup-popup">
	<div class="header">
		<img src="images/close-icon.png" alt="close"/>
	</div>
	<div class="content">
		<div class="emailid-input">
			<input type="text" placeholder="Email address:"/>
		</div>
		<div class="password-input">
			<input type="text" placeholder="Password:"/>
		</div>
		<div class="signup-button">
			Create Account
		</div>
		<p>Or, Sign in with</p>
		<div class="fb-button">
			Facebook
		</div>
	</div>
</div>