<div class="container">
	<div class="jumbotron">
		<h1>Sports Venue Detail Page</h1>
		<h3>Enter sports venue page details here</h3>
		<p align="center"><a href="/user/new" class="btn btn-lg btn-success">SignUp</a></p>
	</div>
</div>